<!-- MENU BAR -->
<div class="row" id="header2">
	<div class="col-md-1"><a ng-href="/home"><img class="logo" src="/images/logo.PNG" alt="Logo"></a></div>
	<div class="col-md-9">
		<ul class="nav nav-pills" id="menuDropdown">
			<li class="dropdown" >
				<li class="list"><a ng-href="/home">Home</a></li>
	        	<li class="list"><a ng-href="/tenants">Grade a File </a></li>
	  		</li>
		</ul>
	</div>
	<div class="col-md-2">
		<button ng-click="logout()" style="fixed: right" type="submit" id="logoutBtn" class="btn btn-primary">
			Logout  <span class="glyphicon glyphicon-log-out">  </span>
		</button>
	</div>
</div>

<!-- BODY -->
<div id="body" class="tenant1">
	<div class="row" id="header2">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div id="submissionForm" ng-hide="tenant !== undefined" >
				<h2>Select a tenant service</h2></br>
				<form name="form"  method="post" class="form-horizontal">
    			<div class="form-group" id="form1">
        			<label  class="col-xs-3 control-label">Available UML Parser </label>
        			<div class="col-xs-6">
            			<div class="radio">
                			<input type="radio" name="tenantR" ng-value='"tenant1"' ng-model='tenant' class="styled" />
                			<label for="tenant1Radio">UML Parser - Madhur Khandelwal</label>
            			</div>

            			<div class="radio">
                			<input type="radio" name="tenantR" ng-value='"tenant2"' ng-model='tenant' class="styled" />
                			<label for="tenant2Radio">UML Parser - Arun Kumar</label>
            			</div>

			            <div class="radio">
            			    <input type="radio" name="tenantR" ng-value='"tenant3"' ng-model='tenant' class="styled" />
                			<label for="tenant3Radio">UML Parser - UML Model SEQUENCE </label>
            			</div>
        			
        			    <div class="radio">
            			    <input type="radio" name="tenantR" ng-value='"tenant4"' ng-model='tenant' class="styled" />
                			<label for="tenant4Radio">UML Parser - UML Model UMPLE</label>
            			</div>
        			</div>
    			</div>
				</form>
			</div>
	
			<div id="submissionForm" ng-hide='tenant === undefined || image !== undefined'>
				<h2>Upload a file</h2></br>
				<form name="form">
				  <button class="btn btn-success" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'*.*'"
				    ngf-accept="'*'" ngf-max-size="20MB" ngf-min-height="100"
				    ngf-resize="{width: 100, height: 100}">Upload</button>
				  <button ngf-drop ng-model="files" class="btn btn-warning">Drop</button></br></br>
				  <button type="Submit" class="btn btn-primary" ng-click="submit()">Preview</button>
				</form>
			</div>
		
			<div id="submissionForm2" ng-hide="image === undefined || graded !== undefined">
				<h2>Review</h2></br>
				<img alt="Diagram Preview" data-ng-src="{{image}}" height="70%" width="80%"/>
				<button ng-click=next() class="btn btn-success">NEXT</button>
			</div>
		
			<div id="submissionForm3" ng-hide="graded === undefined">
				<h2>Submit the grades</h2></br>
				<div class="row">
					<div class="col-md-4">
						<b>Student ID:</b></br></br></br></br>
						<b>Score:</b></br></br></br></br>
						<b>Comments:</b></br></br>
					</div>
					<div class="col-md-7">
						<form>
							<div class="form-component input--small">
									<input type="text" required class="form-control" ng-model="sid"></br></br>
							</div>
							
							<div ng-hide="tenant !== 'tenant1'">
								<input type="number" placeholder="Max Score : 10" class="form-control" ng-model="score" max="10" min="0"></br></br>
							</div>

							<div ng-hide="tenant !== 'tenant2'">
								<input type="number" placeholder="Max Score : 100" class="form-control" ng-model="score" max="100" min="0"></br></br>
							</div>

							<div ng-hide="tenant !== 'tenant3'">
								<input type="number" placeholder="Max Score : 5" class="form-control" ng-model="score" max="5" min="0"></br></br>
							</div>
							
							<div ng-hide="tenant !== 'tenant4'">
								<input type="number" placeholder="Max Score : 20" class="form-control" ng-model="score" max="20" min="0"></br></br>
							</div>
							
							<textarea class="form-control" type="textarea" ng-model="comments" id="ex1" row="5"></textarea></br></br>
							<input type="submit" ng-click="submitScore()" class="btn btn-primary"/>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>	
<!-- FOOTER -->
<div id="footer"><strong>Cloud Grader - Arunabh Shrivastava</strong></div>
